* {
  padding: 0;
  margin: 0;
  font-family: "Alef", sans-serif;
}

.hidden {
  overflow: hidden;
  background-color: #16db9344;
}

/*navbar*/

.navbar {
  width: 100%;
  background-color: none;
  position: fixed;
  z-index: 1;
  transition: 0.3s linear;
  display: flex;
  justify-content: space-between;
}
.contenedor-navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
}
.img-logo {
  width: 34px;
  height: 34px;
  margin-left: 0.5em;
}

.btn-mobile {
  background: none;
  width: 30px;
  outline: none;
  border: none;
  position: relative;
  z-index: 2;
}
.btn-mobile span {
  display: block;
  height: 3px;
  margin: 6px 0;
  background-color: #16db93;
  transition: 0.5s linear;
}

.menu {
  margin: 0 2em 0 0;
  display: none;
  transition: 0.3s linear;
}

/*  
.menu a {
  color: #f2f2f2;
  text-decoration: none;
  outline: none;
  padding: 0 0.5em;
} */

/* menu mobile */
.menu-mobile {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 60%;
  right: -10px;
  top: 47px;
  height: 100vh;
  background-color: white;
  transition: 0.3s linear;
  background-image: url("./assets/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: -3px 8px 16px -6px #16db93;
  overflow-y: scroll;
  overflow-x: hidden;
}
.menu-mobile a {
  text-decoration: none;
  color: #252525;
  margin: 1em 0;
  padding: 1em 100%;
  transition: 0.3s linear;
}
.menu-mobile a:hover {
  background-color: #16db93;
  border-radius: 10px;
  outline: none;
}
.menu-mobile a:first-child {
  margin-top: 2em;
}
.redes-sociales-activo {
  margin-top: 1em;
}
.menu .redes-sociales-activo a {
  padding: 0 0.1em;
  background-color: transparent;
}

.navbar-activo {
  background-color: white;
  /* border-bottom: 1px solid #6584b338; */
  box-shadow: -6px 2px 16px -6px #16db93;
}
.btn-mobile-activo span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  transition: 0.3s linear;
}
.btn-mobile-activo span:nth-child(2) {
  opacity: 0;
  transition: 0.4s linear;
}
.btn-mobile-activo span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 8px;
  transition: 0.3s linear;
}

/* hero */
.Hero {
  height: 100vh;
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Hero .conteiner-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conteiner-hero h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
.conteiner-hero h1::after {
  content: " Jasiel";
  color: #139e6b;
  animation: iam 8s linear infinite;
}
@keyframes iam {
  25% {
    content: " Universitario";
    color: #16db93;
  }
  50% {
    content: " Desarrollador Web";
    color: #21a373;
  }
  75% {
    content: " LLDM";
    color: #16c082;
  }
}

.redes-sociales a {
  text-decoration: none;
  color: #f2f2f2;
  margin: 0 0.4em;
  width: 30px;
  height: 30px;
  size: 1em;
  padding: 0 0.1em;
}
.redes-sociales a i {
  color: #16db93;
  font-size: 25px;
}

/* formacion */
.Formacion {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("./assets/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-color: #f2f2f2;
  background-color: white;
}
.conteiner-formacion {
  width: 100%;
  padding: 4em 0 2em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.img-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-h1 img {
  width: 45px;
  margin: 0 0.3em;
}
.form-h1 {
  color: rgb(79, 123, 204);
  color: rgb(118, 51, 121);
}

.img-C10s {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.polaroid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 3em auto 0 auto;
}
.img-formacion {
  width: 150px;
}
.img-formacion img {
  max-width: 100%;
  max-height: 100%;
  height: 150px;
}
.conteiner-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .pnt {
  display: block;
  position: relative;
  top: 50%;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  left: 0;
} */
.aling {
  margin: 1em 0;
}
.U-text-formacion {
  margin: 0 0.5em;
  font-size: 14px;
  font-size: 20px;
}

.text-form {
  padding: 1em;
  color: rgb(79, 123, 204);
}

/* tecnologias */

.conteiner-lenguajes {
  width: 100%;
}
.U-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  cursor: pointer;
  outline: none;
  transition: 0.4s linear;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.U-img {
  width: 50px;
}
/* barra de progreso */
/* progress[value] {
  width: 80%;
  height: 30px;
} */
.barra {
  height: 26px;
  width: 70%;
  padding: 0 0.2em;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
}
/* barras de progreso */
.proggres-c {
  height: 20px;
  width: 65%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* porcentaje dentro de la barra de progreso  👇    */
.proggres-c::after {
  content: "65%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
/* mi info cada que le de click a un lenguaje */

.U-text {
  width: 80%;
  margin: 0 auto;
  padding: 1.5em 0 0.8em 0;
  transition: 0.4s linear;
}
#U-text {
  display: none;
}
.U-card-active {
  /* background-color: #bfd6eba1; */
  background-color: #401642a1;
  background-color: #2a9d8fed;
  margin: 1em 0 0 0;
  padding: 0.5em 0;
  transition: 0.2s linear;
  cursor: pointer;
}
.U-info {
  width: 100%;
  /* background-color: #816783c4; */
  background-color: #2a9d8fc9;
  /* background-color: #bfd6eba1; */
  transition: 0.4s linear;
  margin-bottom: 0.5em;
}
.span-active1 {
  transform: rotate(45deg);
  right: -5px;
  transition: 0.4s linear;
}
.span-active2 {
  transform: rotate(-45deg);
  right: 15px;
  transition: 0.4s linear;
}

.proggres-html {
  height: 20px;
  width: 80%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-html::after {
  content: "80%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.proggres-css {
  height: 20px;
  width: 70%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-css::after {
  content: "70%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.proggres-js {
  height: 20px;
  width: 60%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-js::after {
  content: "60%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.proggres-sass {
  height: 20px;
  width: 70%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proggres-sass::after {
  content: "70%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.proggres-git {
  height: 20px;
  width: 50%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-git::after {
  content: "50%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
/* about sobre cada tecnologia */
.span {
  height: 3px;
  /* background-color: #6584b3; */
  background-color: #1c7293;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.4s linear;
}
.span-arrow1 {
  transform: rotate(45deg);
  right: -4px;
}
.span-arrow2 {
  transform: rotate(-45deg);
  right: 4px;
}

.span-arrow1-active {
  transform: rotate(45deg);
  animation: span1 0.85s linear normal;
  right: -4px;
}
.span-arrow2-active {
  animation: span2 0.85s linear normal;
  transform: rotate(-45deg);
  right: 4px;
}

@keyframes span1 {
  25% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(250deg);
  }
  75% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes span2 {
  25% {
    transform: rotate(-150deg);
  }
  50% {
    transform: rotate(-250deg);
  }
  75% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(-420deg);
  }
}

/* projects */
#form-h1 {
  margin: 0;
  padding: 0;
}

.title-projects {
  margin: 1em 0;
}

.img-title-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.img-RM-projects {
  width: 48px;
  margin-right: 0.3em;
  margin-top: 0.4em;
}

.text-projects {
  width: 50%;
  margin: 0 3em 0 0.5em;
}

.U-card-projects {
  display: flex;
  width: 100%;
}

/* .img-RM-projects {
  width: 170px;
  border-radius: 50%;
  margin-left: 0.5em;
} */

.div-challenge {
  width: 65%;
  margin: 0.5em auto;
}

.promocional {
  width: 100%;
  margin: 0 auto;
}
.conteiner-promocional {
  width: 100%;
  background-color: #2c699a;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.img-promocional {
  width: 100px;
  margin: 1em 0 2em 0;
}
.text-promocional {
  color: white;
  text-align: center;
}

form {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.input-email-name {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #ff5364;
  color: white;
  margin: 0.4em 0 1em 0;
  width: 80%;
}
.input-email-name::placeholder {
  /* color: #ff5364; */
  color: #16db93;
  font-size: 15px;
}

.submit-input {
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: #24ae5f;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
}

/* footer */
footer {
  background-image: url("./assets/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00335b;
}
.div-image-footer {
  display: flex;
  justify-content: center;
}
.image-footer {
  width: 80px;
}
.contacto-foot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0;
}
.contacto-footer {
  text-decoration: none;
  color: white;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.redes-footer {
  display: flex;
  justify-content: center;
}
#a-footer {
  color: white;
}
.title-contacto {
  color: white;
  margin-bottom: 2em;
}
@media (max-width: 400px) {
  .polaroid {
    width: auto;
  }
  .U-text-formacion {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  .polaroid {
    width: auto;
  }
  .conteiner-hero h1 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
  .U-text-formacion {
    font-size: 20px;
  }
  .input-email-name {
    width: 80%;
  }
  form {
    width: 50%;
  }
  .input-email-name::placeholder {
    /* color: #ff5364; */
    color: #16db93;
    font-size: 25px;
  }
}
.hr-promotional {
  display: none;
}
@media (min-width: 1280px) {
  .Hero {
    height: 85vh;
    background-image: none;
    /* background-image: url("./assets/fernando-hernandez-JdoofvUDUwc-unsplash\ \(2\).jpg"); */
    /* background-image: url("./assets/steve-halama-Yhc7YGZlz3g-unsplash.jpg"); */
    background-image: url("./assets/safar-safarov-LKsHwgzyk7c-unsplash.jpg ");
    background-position: unset;
    background-position-y: -160px;
    /* background-position-y: -1660px; */
    /* background-position-x: -200px; */
  }
  .Formacion {
    background-image: url("./assets/bg-pattern-intro-right-desktop.svg");
  }
  .btn-mobile {
    display: none;
  }
  .menu {
    display: block;
  }
  nav {
    height: 56px;
  }
  .menu a {
    color: #16db93;
    text-decoration: none;
    margin: 0 0.5em;
  }
  .menu a:hover {
    padding-bottom: 0.6em;
    border-bottom: 3px solid #16db93;
  }
  .barra {
    height: 32px;
  }
  #redes {
    display: none;
  }
  .img-logo {
    margin-left: 2em;
    width: 40px;
    height: 40px;
  }
  .conteiner-lenguajes {
    display: flex;
    justify-content: space-around;
  }
  .conteiner3,
  .conteiner6 {
    width: 48%;
  }
  .conteiner-Ucard {
    padding: 1em 0;
  }
  .div-challenge {
    display: none;
  }
  .API {
    display: grid;
    grid-template-areas:
      "A B"
      "C C";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .areaA {
    grid-area: A;
    margin-bottom: 1em;
  }
  .areaB {
    grid-area: B;
    margin-bottom: 1em;
  }
  .areaC {
    grid-area: C;
    margin-bottom: 2em;
  }
  h3 {
    font-size: 20px;
  }
  .text-projects {
    width: 70%;
  }
  .U-text {
    padding: 0.2em;
  }
  .hr-desktop {
    height: 1px;
    background-color: black;
  }
  .img-formacion img {
    position: relative;
    bottom: -29px;
  }
  .conteiner-challengues-grid {
    display: grid;
    grid-template-areas:
      "T T "
      "x y"
      "w v"
      "z z";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .areaT {
    grid-area: T;
  }
  .area1 {
    grid-area: x;
  }
  .area2 {
    grid-area: y;
  }
  .area3 {
    grid-area: w;
  }
  .area4 {
    grid-area: v;
  }
  .area5 {
    grid-area: z;
  }
  .U-project {
    margin-bottom: 2em;
    /* border: 0.5px solid gray; */
    box-shadow: 0px 0px 20px -9px #00335b;
  }
  .U-info {
    margin-bottom: 0;
    padding: 1em 0;
  }
  .span {
    background-color: gold;
  }
  .conteiner-formacion {
    padding: 6em 0 2em 0;
  }
  /* .conteiner-promocional {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "img parrafo1"
      "img parrafo2"
      "img hr"
      "img formulario";
  } */
  /* .conteiner-promocional {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  #PromocionalDIV {
    flex-direction: inherit;
  }
  .title-contacto {
    /* grid-area: titulo; */
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 23px;
  }
  .img-contacto {
    /* grid-area: img; */

    margin: 0 auto;
  }
  .img-promocional {
    width: 250px;
    margin: 0 4em 3em 4em;
  }
  /* .text-promocional1 {
    grid-area: parrafo1;
  }
  .text-promocional2 {
    grid-area: parrafo2;
  } */
  /* .form {
    grid-area: formulario;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3em auto;
    width: 90%;
  }
  .input-email-name {
    font-size: 18px;
  }
  .input-email- .hr-promotional {
    display: block;
    grid-area: hr;
  }
  .submit-input {
    font-size: 20px;
    width: 250px;
  } */
  .progges {
    height: 26px;
  }
  .redes-footer {
    display: flex;
  }
}

.ObraNegra {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Banner {
  width: 100%;
  background-color: #00335b;
  position: sticky;
  top: 0;
  z-index: 110;
  display: flex;
  justify-content: space-around;
}
.prueba {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textBanner {
  width: 100%;
  color: white;
  margin: 0 0.4em;
  text-align: center;
}
.img-close-Banner {
  width: 30px;
  cursor: pointer;
}

.new_ObraNegra {
  width: 40px;
  position: absolute;
  right: 30px;
  top: -10px;
  transform: rotate(-45deg);
}
.textOBRA {
  margin: 0.5em 0;
}
.titleOBRA {
  padding: 0.5em 0;
}
.correo {
  color: #252525;
}
.PromocionalDIV {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textPromocional {
}
