* {
  padding: 0;
  margin: 0;
  font-family: "Alef", sans-serif;
}

/*navbar*/

.navbar {
  width: 100%;
  background-color: none;
  position: fixed;
  z-index: 1;
  transition: 0.3s linear;
  display: flex;
  justify-content: space-between;
}
.contenedor-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.img-logo {
  width: 30px;
  height: 30px;
}

.btn-mobile {
  background: none;
  width: 30px;
  outline: none;
  border: none;
  position: relative;
  z-index: 2;
}
.btn-mobile span {
  display: block;
  height: 3px;
  margin: 6px 0;
  background-color: #252525;
  transition: 0.5s linear;
}

.menu {
  margin: 0 2em 0 0;
  display: none;
  transition: 0.3s linear;
}

/*  
.menu a {
  color: #f2f2f2;
  text-decoration: none;
  outline: none;
  padding: 0 0.5em;
} */

/* menu mobile */
.menu-mobile {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 60%;
  right: -1px;
  top: 65px;
  height: 100vh;
  background-color: #f2f2f2;
  transition: 0.3s linear;
  background-image: url("./bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-mobile a {
  text-decoration: none;
  color: #252525;
  margin: 1em 0;
  padding: 1em;
  transition: 0.3s linear;
}
.menu-mobile a:hover {
  background-color: #578ef3;
  border-radius: 10px;
}
.menu-mobile a:first-child {
  margin-top: 4em;
}
.redes-sociales-activo {
  margin-top: 4em;
}
.menu .redes-sociales-activo a {
  padding: 0 0.4em;
  background-color: transparent;
}

.navbar-activo {
  background-color: #f2f2f2;
}
.btn-mobile-activo span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  transition: 0.3s linear;
}
.btn-mobile-activo span:nth-child(2) {
  opacity: 0;
  transition: 0.4s linear;
}
.btn-mobile-activo span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 8px;
  transition: 0.3s linear;
}

/* hero */
.Hero {
  height: 100vh;
  background-image: url("./hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Hero .conteiner-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conteiner-hero h1 {
  color: #f2f2f2;
  font-size: 25px;
  margin-bottom: 30px;
}
.conteiner-hero h1::after {
  content: " Jasiel";
  animation: iam 8s linear infinite;
}
@keyframes iam {
  25% {
    content: " Universitario";
    color: #5492da;
  }
  50% {
    content: " Desarrollador Web";
    color: tomato;
  }
  75% {
    content: " LLDM";
    color: #517401;
  }
}

.redes-sociales a {
  text-decoration: none;
  color: #f2f2f2;
  margin: 0 0.4em;
  width: 30px;
  height: 30px;
  size: 1em;
}
.redes-sociales a i {
  color: #578ef3;
  font-size: 25px;
}

/* formacion */
.Formacion {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("./bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  background-color: #f2f2f2;
}
.conteiner-formacion {
  width: 80%;
  padding: 4em 0 2em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.img-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-h1 img {
  width: 45px;
  margin: 0 1em;
}
.form-h1 {
  color: rgb(79, 123, 204);
  color: rgb(118, 51, 121);
}

.img-C10s {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.polaroid {
  width: 100%;
  position: relative;
  background: #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s linear;
  margin: 2em 0 2em 0;
  cursor: pointer;
}

.polaroid:hover {
  transform: scale(0.98);
  box-shadow: 5px 3px 9px -2px rgba(75, 74, 74, 0.904);
  background: #f3f1f1;
}

.text-form {
  padding: 1em;
  color: rgb(79, 123, 204);
}

/* tecnologias */

.conteiner-lenguajes {
  width: 100%;
}
.U-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  cursor: pointer;
  outline: none;
  transition: .4s linear;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.U-img {
  width: 50px;
}
/* barra de progreso */
/* progress[value] {
  width: 80%;
  height: 30px;
} */
.barra {
  height: 26px;
  width: 70%;
  padding: 0 0.2em;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
}
/* barras de progreso */
.proggres-c {
  height: 20px;
  width: 70%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* porcentaje dentro de la barra de progreso  👇    */
.proggres-c::after {
  content: "70%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
/* mi info cada que le de click a un lenguaje */

.U-text{
  width: 80%;
  margin: 0 auto;
  padding: 1.5em 0;
}
.U-card-active{
  background-color: #bfd6eba1;
  margin: 1em 0 0 0;
  padding-top: .5em;
  transition: .4s linear;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
.U-info{
  width: 100%;
  background-color: #bfd6eba1;
  transition: .4s linear;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}
.span-active1{
  transform: rotate(45deg);
  right: -5px;
  transition: .4s linear;
}
.span-active2{
  transform: rotate(-45deg);
  right: 15px;
  transition: .4s linear;

}

.proggres-html {
  height: 20px;
  width: 80%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-html::after {
  content: "80%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.proggres-css {
  height: 20px;
  width: 80%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-css::after {
  content: "80%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.proggres-js {
  height: 20px;
  width: 75%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-js::after {
  content: "75%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.proggres-sass {
  height: 20px;
  width: 80%;
  background-color: #5492da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proggres-sass::after {
  content: "80%";
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
/* about sobre cada tecnologia */
.span {
  height: 3px;
  background-color: black;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: .4s linear;
}
.span-arrow1 {
  transform: rotate(45deg);
  right: -4px;
}
.span-arrow2 {
  transform: rotate(-45deg);
  right: 4px;
}

.span-arrow1-active {
  transform: rotate(45deg);
  animation: span1 .85s linear normal;
  right: -4px;
}
.span-arrow2-active {
  animation: span2 .85s linear normal;
  transform: rotate(-45deg);
  right: 4px;
}

@keyframes span1 {
  25% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(250deg);
  }
  75% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes span2 {
  25% {
    transform: rotate(-150deg);
  }
  50% {
    transform: rotate(-250deg);
  }
  75% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(-420deg);
}

/*  */
